openapi: 3.1.0
info:
  title: Central Sequence Service API
  description: API for managing sequence numbers within the FountainAI system, integrated directly with Opensearch.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.sequences.fountainai.com
    description: FountainAI Central Sequence Service API Server
paths:
  /sequences/_doc:
    post:
      summary: Generate a new sequence number
      description: Generates a new sequence number and stores it in the Opensearch index.
      operationId: createSequence
      requestBody:
        description: Data related to the sequence number to be generated.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                elementType:
                  type: string
                  example: "script"
                elementId:
                  type: string
                  example: "abc123"
                sequenceNumber:
                  type: integer
                  example: 1
      responses:
        '201':
          description: Sequence number created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    description: ID of the created sequence document
                  result:
                    type: string
                    example: "created"
        '400':
          description: Bad Request - Invalid input
      x-amazon-apigateway-integration:
        type: http
        uri: ${OPENSEARCH_DOMAIN}/_doc
        httpMethod: POST
        passthroughBehavior: when_no_match
        connectionType: INTERNET
  /sequences/_search:
    post:
      summary: Retrieve sequence numbers
      description: Queries the Opensearch index to retrieve sequence numbers for specific elements.
      operationId: searchSequences
      requestBody:
        description: The Opensearch query object.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: object
                  description: The Opensearch Query DSL to filter sequences.
      responses:
        '200':
          description: A list of sequences
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    elementType:
                      type: string
                    elementId:
                      type: string
                    sequenceNumber:
                      type: integer
        '400':
          description: Bad Request - Invalid input
      x-amazon-apigateway-integration:
        type: http
        uri: ${OPENSEARCH_DOMAIN}/_search
        httpMethod: POST
        passthroughBehavior: when_no_match
        connectionType: INTERNET
  /sequences/_bulk:
    post:
      summary: Reorder sequence numbers
      description: Reorders sequence numbers for elements and updates them in the Opensearch index using bulk operations.
      operationId: reorderSequences
      requestBody:
        description: Bulk data to reorder sequence numbers.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                elements:
                  type: array
                  items:
                    type: object
                    properties:
                      elementId:
                        type: string
                      newSequence:
                        type: integer
      responses:
        '200':
          description: Sequence numbers reordered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: "success"
        '400':
          description: Bad Request - Invalid input
      x-amazon-apigateway-integration:
        type: http
        uri: ${OPENSEARCH_DOMAIN}/_bulk
        httpMethod: POST
        passthroughBehavior: when_no_match
        connectionType: INTERNET
  /sequences/_doc/{sequenceId}/_update:
    post:
      summary: Create a new version of a sequence number
      description: Creates a new version of an existing sequence number in the Opensearch index.
      operationId: createSequenceVersion
      parameters:
        - name: sequenceId
          in: path
          required: true
          description: The ID of the sequence whose version is being created.
          schema:
            type: string
      requestBody:
        description: Data related to the new version of the sequence number.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                elementType:
                  type: string
                  example: "script"
                elementId:
                  type: string
                  example: "abc123"
                versionNumber:
                  type: integer
                  example: 2
      responses:
        '200':
          description: Sequence version created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    description: ID of the created sequence version document
                  result:
                    type: string
                    example: "created"
        '400':
          description: Bad Request - Invalid input
      x-amazon-apigateway-integration:
        type: http
        uri: ${OPENSEARCH_DOMAIN}/_doc/{sequenceId}/_update
        httpMethod: POST
        passthroughBehavior: when_no_match
        connectionType: INTERNET
components:
  schemas: {}
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
x-amazon-apigateway-endpoint-configuration:
  types:
    - REGIONAL
x-amazon-apigateway-cors:
  allowOrigins:
    - "*"
  allowMethods:
    - GET
    - POST
    - OPTIONS
  allowHeaders:
    - Content-Type
    - X-Amz-Date
    - Authorization
    - X-Api-Key
    - X-Amz-Security-Token
  maxAge: 600
security:
  - ApiKeyAuth: []
